<!doctype html>
<html lang="pt-BR">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Styles.css -->
    <link rel="stylesheet" href="../static/styles.css">

    <title>Jogo da Velha Online</title>
  </head>
  <body>
    <main>
      <div id="app">
        <div class="container">
          <h1>Jogo da Velha</h1>
          <div class="play-area">
            <div id="block_0" class="block" @click="draw(0, false)">{$ content[0] $}</div>
            <div id="block_1" class="block" @click="draw(1, false)">{$ content[1] $}</div>
            <div id="block_2" class="block" @click="draw(2, false)">{$ content[2] $}</div>
            <div id="block_3" class="block" @click="draw(3, false)">{$ content[3] $}</div>
            <div id="block_4" class="block" @click="draw(4, false)">{$ content[4] $}</div>
            <div id="block_5" class="block" @click="draw(5, false)">{$ content[5] $}</div>
            <div id="block_6" class="block" @click="draw(6, false)">{$ content[6] $}</div>
            <div id="block_7" class="block" @click="draw(7, false)">{$ content[7] $}</div>
            <div id="block_8" class="block" @click="draw(8, false)">{$ content[8] $}</div>
          </div>
          <h2 id="winner" v-if="isOver"> O vencedor é o {$ winner $} </h2>
          <h2 v-if="isTie">Jogo Finalizado</h2>
          <button @click="resetBoard()" v-if="isOver || isTie">Reiniciar o jogo</button>
      
        </div>
      </div>
    </main>    

    <!-- Vuejs -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x"></script>

    <!-- SocketIO -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js" integrity="sha512-MgkNs0gNdrnOM7k+0L+wgiRc5aLgl74sJQKbIWegVIMvVGPc1+gc1L2oK9Wf/D9pq58eqIJAxOonYPVE5UwUFA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Scripts -->
    <script src="../static/scripts.js"></script>
  </body>
</html>